body{
  margin: 0;
  overflow-y: scroll; /* Дозволяє прокручувати контент, але приховує вертикальний скролбар */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer, Edge */


}

body::-webkit-scrollbar {
  width: 0; /* Ширина вертикального скролбару */
}
.logo{
  width: 100px; /* Змініть на потрібний розмір */
  height: 100px; /* Змініть на потрібний розмір */

}

.container{
  margin:0px 120px ;
}
.header {
  background-image: url(/src/image/backgraund.jpg);
  background-attachment: fixed; /* Делаем фон статичным */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 120vh;
  width: 100%;
  flex-grow: 1;
}

 

 .header-line{
  padding-top: 5px;
  display: flex;
  background-color: #212529;
  align-items: center;
  justify-content: space-around;
  margin: 0px -120px; ;

  
  

 }

.nav-item{
  color: white;
  text-decoration: none;
  font-family: 'Pacifico', cursive;
  font-weight: 600;
  font-size: 30px;
  margin-right: 75px;
  transition: color 0.1s linear;
}

.nav-item:hover{
  color: darkgray;
}



.card{
  margin-right: 25px;
}

.footer {
  background-color: #212529;
  color: white;
  padding: 25px;
  text-align: center;
  position: static;
  bottom: 0;
  left: 0;
  font-family: 'Pacifico', cursive;
  
}

